body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* 頁面背景顏色 */
    color: rgb(255, 255, 255);
    /* 文字顏色 */
}

.banner {
    height: 50vh;
    width: 100%;
    background-color: BLACK;
    text-align: center;
    font: italic small-caps bold 50px/2 cursive;
    font-weight: bold;
    padding: 300px 0;
    color: rgb(200, 0, 0);
}

.year {
    height: 40vh;
    width: 70%;
    /* 調整年份區塊的寬度 */
    margin: auto;
    text-align: left;
    /* 文字對齊方式為左對齊 */
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
    /* 每個年份區塊底部的邊界 */
    position: relative;
}

.year h1 {
    font: italic small-caps bold 20px/2 cursive;
    font-weight: bold;
    /* 字體加粗 */
    margin-bottom: 48px;
}

.year p {
    /*margin-left: 30vh;                 段落文字左側間隔 */

    font-size: 20px;
    /* 文字字體大小 */
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    height: 100vh;
    background-color: #fff;
    /* 時間軸背景色 */
}

.marker {
    height: 10vh;
    background: white;
    width: 100%;
}

.marker.active {
    background-color: rgb(200, 0,0 );
    /* 激活狀態背景色 */
}

.footer {
    height: 50vh;
    width: 100%;
    background-color: BLACK;
    text-align: center;
    padding: 20px 0;
    color: #666;
}